:root {
  --red-normal: #E74246;
  --red-light: #FB565A;
  --red-dark: #D7373B;
  --red-close: rgba(251, 86, 90);
  --basic-black: #000000;
  --lightblack-fonts: #283136;
  --green-normal: #00BC6C;
  --green-light: #00CA74;
  --green-dark: #00AA62;
  --green-range: #00ca74;
  --yellow-light: #EFC84A;
  --yellow-normal: #EAB534;
  --yellow-dark: #E5A722;
  --basic-white: #FFFFFF;
  --gray: #A6A6A6;
  --gray-filter-item: #4D4D4D;
  --gray-social: #E1E1E1;
  --background-gray: #EEEEEE;
  --shadowgray: rgba(0, 1, 1, 0.1);
  --shadow: #cfcfcf;
  --dark-shadow:rgba(0, 0, 0, 0.7);
  --light-gray: #D5D5D5;
  --extra-light-gray: #DFDFDF;
  --clear-black: rgba(0, 0, 0, 0.3);
  --footer-font: #666666;
  --footer-font2: #444444;
  --scale: #d7dcde;
 --background-range:#ababab;
}

/* Global */

.page-body {
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--lightblack-fonts);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

a {
 text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}


/* Grid */

.page {
  width: 100%;
  height: 100%;
}

.button {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  padding: 15px 30px;
  border-radius: 3px;
  font-weight: 500;
  font: inherit;
  display: inline-block;
}

.button:hover {
  background-color: var(--red-normal);
}

.button:focus {
  background-color: var(--red-dark);
  opacity: 0.1;
}


/* main navigation */

.main-header {
  background-color: var(--background-gray);
  align-items: center;
  margin: 0px;
  padding-top: 46px;
  width: auto;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header a {
 color: var(--basic-black)
}

.site-nav {
  margin: 0;
  margin-left: 179px;
  width: 510px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 12px;
  list-style: none;
}

.site-nav a {
  display: block;
  padding: 6px 23px;
  color: var(--basic-black);
}


/* user navigation */

.user-nav {
  margin-bottom: 4px;
  margin-left: auto;
}

.user-nav a {
  display: block;
  padding: 23px 0 6px 42px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  position: relative;
}

.user-nav a::before {
  position: absolute;
  top: 30px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.site-nav a:hover,
.user-nav a:hover {
  color: var(--red-light);
}

.user-nav a:focus,
.site-nav a:focus {
  color: var(--clear-black);
}

.user-nav a:active,
.site-nav a:active {
  text-decoration-color: var(--red-light);
  text-decoration: underline;
}


/* Slider */

.slider-container {
  position: relative;
  height: 426px;
  background-color: var(--background-gray);
}

.slider-content {
  position: relative;
  margin: 0;
}

.slider-pic {
  top: -10px;
  object-fit: contain;
  background-color: var(--background-gray);
  position: absolute;
}

.slider-item {
  grid-template-columns: 397px 760px;
  display: grid;
}

.slide {
  display: none;
}

.slide-current {
  display: grid;
  grid-template-columns: 397px 760px;
  display: block;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-slide {
  padding: 17px 54px;
  text-align: center;
  padding: 16px 40px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--red-light);
  width: 160px;
}

.slider-controls {
  top: 306px;
  left: 630px;
  color: var(--basic-white);
  display: flex;
  width: 90px;
  justify-content: space-between;
  position: absolute;
}

.slider-controls .current {
  position: relative;
  background-color: var(--basic-white);
}

.slider-controls button {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0;
}


/* Inner */

.inner {
  grid-template-columns: 400px 760px;
  justify-content: space-between;
  display: grid;
}


/* Filter */

.filter {
  grid-row: 1/3;
}

.filter-item {
  padding: 0;
  border: none;
  margin: 0;
}

.range-filter {
  margin-top: 49px;
  width: 260px;
}

.range-controls {
  background-color: var(--background-gray);
  border-radius: 3px;
  margin-bottom: 15px;
  padding-top: 39px;
  height: 41px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  height: 80px;
}

.range-controls .scale {
  background: var(--scale);
  height: 2px;
}

.range-controls .bar {
  height: 2px;
  background: var(--green-range);
  width: 100%;
}

.range-controls .toggle {
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--background-range);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow);
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
  width: 4px;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--lightblack-fonts);
  border: none;
  border-radius: 3px;
  background: var(--background-gray);
  font-family: inherit;
  font-size: inherit;
  width: 60px;
}

.price-controls {
  justify-content: space-between;
  display: flex;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 27px;
  border: none;
  padding: 0;
}

.filter fieldset:first-child {
  margin-bottom: 53px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  list-style: none;
  line-height: 18px;
  padding-top: 16px;
  padding: 0;
}

.filter-option {
  padding-bottom: 20px;
}

.filter-option label {
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  line-height: 19px;
  color: var(--lightblack-fonts);
  padding-left: 38px;
  position: relative;
}

.filter-input-checkbox + label::before {
  position: absolute;
  left: -2px;
  top: -4px;
  width: 20px;
  height: 21px;
  border: 2px solid var(--gray-filter-item);
  opacity: 0.4;
  border-radius: 20%;
  content: "";
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 2px;
  width: 20px;
  height: 16px;
  background-image: url(../img/check.svg);
  color: var(--gray-filter-item);
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}


.filter-input-radio + label::before {
  position: absolute;
  left: 0px;
  top: -5px;
  width: 16px;
  height: 16px;
  border: 5px solid var(--gray-filter-item);
  opacity: 0.4;
  border-radius: 50%;
  content: "";
}

.filter-input-radio:checked + label::after {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--gray-filter-item);
  opacity: 0.4;
  border-radius: 50%;
  content: "";
}


/* filter form */

.button-form {
  color: var(--basic-black);
  width: 260px;
  font-weight: 500;
  margin-top: 7px;
  background-color: var(--background-gray);
}

.button-form:hover {
  color: var(--basic-black);
  background-color: var(--extra-light-gray);
}

.button-form:focus {
  color: var(--basic-black);
  opacity: 0.3;
  background-color: var(--light-gray);
}


/* Sorting */

.sorting-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  font-weight: 700;
}

.sorting {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

.sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  grid-column: 2/3;
}

.sorting-item a {
  line-height: 18px;
  margin-right: 27px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  font-size: 14px;
}

.sorting-item-sort a {
  margin-left: 18px;
}

.sorting-item a:hover {
  opacity: 0.6;
}

.sorting-item a:focus,
.sorting-item a:active {
  opacity: 1;
}


/* advantages */

.title {
  font-size: 55px;
  line-height: 55px;
  background-color: var(--background-gray);
  color: var(--basic-black);
  text-align: center;
  padding-top: 71px;
  padding-bottom: 108px;
  margin-bottom: 55px;
  margin-top: 0;
  font-weight: 500;
}

.main-advantage-item {
  line-height: 55px;
  color: var(--basic-black);
  text-align: left;
  margin-top: 72px;
  margin-bottom: 26px;
  font-size: 55px;
}

.advantage-item {
  margin-bottom: 39px;
}


/* skills */

.skills {
  margin-top: 80px;
}


.skills-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--background-gray);
  padding-bottom: 64px;
  list-style: none;
}

.skills-item {
  width: 360px;
}

.skills-h1 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 19px;
  margin-bottom: 0;
  font-weight: bold;
}

.skills-h2 {
  margin: 15px auto 32px;
}

.skills-item .button {
  padding: 13px 40px;
}

.button-skills-web {
  background-color: var(--red-light);
}

.button-skills-app {
  background-color: var(--green-light);
}

.button-skills-app:hover {
  background-color: var(--green-normal);
}

.button-skills-app:focus {
  opacity: 0.1;
  background-color: var(--green-dark);
}

.button-skills-pres {
  background-color: var(--yellow-light);
}


.button-skills-pres:hover {
  background-color: var(--yellow-normal);
}

.button-skills-pres:focus {
  opacity: 0.1;
  background-color: var(--yellow-dark);
}


/* about us  */

.aboutus {
  justify-content: space-between;
  margin-bottom: 40px;
  display: flex;
}

.aboutus-text {
  width: 800px;
}

.aboutus-header {
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin-bottom: 32px;
  margin-top: 72px;
  font-weight: 500;
}

.aboutus-body {
  margin-bottom: 10px;
}

.aboutus-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 40px;
  font-weight: bold;
}

.aboutus-list {
  padding-left: 0;
  list-style: none;
}

.aboutus-item {
  padding-left: 40px;
  position: relative;
  margin-bottom: 25px;
}

.aboutus-item::before {
  position: absolute;
  left: 0;
  top: 13px;
  width: 24px;
  height: 2px;
  background-color: var(--red-light);
  content: "";
}


/*statistics*/

.statistics {
  background-repeat: no-repeat;
  background-position: 0px 36px;
  padding-top: 258px;
  width: 360px;
  background-image: url(../img/nerds-illustration-1.png);
}

.statistic-pic {
  margin-top: 39px;
}

.statistics-header {
  text-transform: uppercase;
  color: var(--basic-black);
  padding-left: 16px;
  margin-top: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.statistics-list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  width: 345px;
  list-style: none;
}

.statistics-item-percent {
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  margin-top: 46px;
  margin-bottom: 25px;
  margin: 0;
  text-align: left;
  font-size: 45px;
}

.statistics-item-percent > sup {
  font-size: 28px;
}

.statistics-item-text {
  text-align: left;
  line-height: 18px;
}


/* partner */

.partners-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  border-top: 3px solid var(--background-gray);
  border-bottom: 2px solid var(--background-gray);
  margin-bottom: 80px;
  box-sizing: border-box;
  padding: 48px 0 46px 0;
}


.partners-item {
  position: relative;
  width: 260px;
}

.partners-item:not(:nth-child(4n+4))::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: -20px;
  bottom: 50%;
  transform: translateY(50%);
  background-color: var(--background-gray);
}

.partners-item__link {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.2;
}

.partners-ite__img {
  max-width: 260px;
}
.partners-item__link:hover {
  opacity: 1;
}

.partners-item__link:active {
  opacity: 0.1;
}



/* Catalog */

.catalog {
  padding-top: 50px;
  grid-column: 2/3;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}


.catalog-item {
  margin-bottom: 30px;
  min-height: 618px;
  margin-right: 42px;
  position: relative;
  width: 358px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  height: 578px;
  margin: 0;
  padding-top: 40px;
  object-fit: contain;
  background-color: var(--basic-white);
  width: 358px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 358px;
  height: 40px;
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.card-product {
  position: absolute;
  top: 389px;
  left: 0px;
  width: 358px;
  background-color: var(--background-gray);
  height: 231px;
  text-align: center;
  display: none;
  padding: 10px 20px 42px 20px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.catalog-item:hover > .card-product {
 display: flex;
}

.h1-catalog-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 15px;
  margin-bottom: 10px;
}

.p-catalog-item {
  line-height: 18px;
  color: var(--basic-black);
  margin-bottom: 32px;
  margin-top: 3px;
  overflow-y: scroll;
  max-height: 40px;
  font-size: 16px;
}

.button-catalog {
  width: 121px;
  padding: 16px 40px;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--red-light);
}


/* Pagination */

.pagination {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration-color: var(--basic-black);
  margin-bottom: 58px;
}

.pagination-item {
  margin-right: 14px;

}
.pagination-last-item a {
  width: 222px;
}

.pagination-item a {
  background-color: var(--background-gray);
  display: block;
  padding: 15px 19px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-item a:hover {
  background-color: var(--extra-light-gray);
}

.pagination-item a:focus {
  background-color: var(--extra-light-gray);
  opacity: 0.3;
}

.pagination-item-current a {
  border: 3px solid var(--extra-light-gray);
  box-sizing: border-box;
  padding: 12px 17px;
  background-color: var(--basic-white);
}


/* Footer */

.contacts-name {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.contacts-adress {
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-font);
  margin-top: 22px;
}

.contacts-tel {
  line-height: 18px;
  color: var(--footer-font);
  margin-bottom: 38px;
  margin-top: 18px;
  font-size: 16px;
}

.contacts__list {
  position: absolute;
  top: 53px;
  width: 320px;
  padding: 52px 50px 44px 50px;
  box-sizing: border-box;
  background-color: var(--basic-white);
}

.contact-button {
  background-color: var(--red-light);
  width: 160px;
  padding: 13px 30px;
}

.footer-social {
  justify-content: space-between;
  display: flex;
}

.map {
  position: relative;
}

.map-pic {
  height: 416px;
  display: block;
}

.marker-map {
  top: 89px;
  left: 778px;
  z-index: 2;
  position: absolute;
}

.social {
  padding: 0;
  margin-top: 17px;
  width: 265px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.social > li {
  margin-right: 2px;
}


.social-button {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-social);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--red-dark);
}

.social-button:active {
  opacity: 0.3;
  background-color: var(--red-dark);
}

.social-friends {
  width: 760px;
}

.letsfrnds {
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-top: 78px;
  margin-bottom: 10px;
  font-weight: bold;
}

.sale {
  line-height: 22px;
  color: var(--footer-font2);
  margin-top: 10px;
  margin-bottom: 74px;
  font-size: 16px;
}


/* Modal */

.modal {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px var(--dark-shadow);
}

.modal-feedback {
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 764px;
  padding: 60px 100px 80px;
  z-index: 4;
  display: none;
}

.modal-title {
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: bold;
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-item label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
 }

.feedback-item input {
  width: 329px;
  margin-top: 5px;
  padding: 14px;
  color: var(--footer-font);
}

.feedback-item textarea {
  width: 730px;
  margin-top: 5px;
  padding: 11px 16px;
  grid-column: 1/3;
}

.modal-close {
  position: absolute;
  top: 71px;
  right: 95px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background-color: var(--basic-white);
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--red-close);
  opacity: 0.3;
}

.modal-close:hover {
 opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-button {
  margin-top: 11px;
  background-color: var(--red-light);
  text-align: center;
  padding: 12px 87px;
  max-width: 259px;
}
