:root {
    --red-normal: #E74246;
    --red-light: #FB565A;
    --red-dark: #D7373B;
    --red-close: rgba(251, 86, 90);
    --basic-black: #000000;
    --lightblack-fonts: #283136;
    --green-normal: #00BC6C;
    --green-light: #00CA74;
    --green-dark: #00AA62;
    --green-range: #00ca74;
    --yellow-light: #EFC84A;
    --yellow-normal: #EAB534;
    --yellow-dark: #E5A722;
    --basic-white: #FFFFFF;
    --gray: #A6A6A6;
    --gray-filter-item: #4D4D4D;
    --gray-social: #E1E1E1;
    --background-gray: #EEEEEE;
    --shadowgray: rgba(0, 1, 1, 0.1);
    --shadow: #cfcfcf;
    --dark-shadow:rgba(0, 0, 0, 0.7);
    --light-gray: #D5D5D5;
    --extra-light-gray: #DFDFDF;
    --clear-black: rgba(0, 0, 0, 0.3);
    --footer-font: #666666;
    --footer-font2: #444444;
    --scale: #d7dcde;
    --background-range:#ababab;
}

/* Global */

.page-body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--lightblack-fonts);
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Grid */

.page {
    height: 100%;
    width: 100%;
}

.button {
    display: inline-block;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    padding: 15px 30px;
    border-radius: 3px;
    font-weight: 500;
    font: inherit;
}

.button:hover {
    background-color: var(--red-normal);
}

.button:focus {
    opacity: 0.1;
    background-color: var(--red-dark);
}

/* main navigation */

.main-header {
    width: auto;
    background-color: var(--background-gray);
    align-items: center;
    margin: 0px;
    padding-top: 46px;
}

.main-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.main-header a {
    color: var(--basic-black)
}

.site-nav {
    list-style: none;
    margin: 0;
    margin-left: 179px;
    width: 510px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-top: 12px;
}

.site-nav a {
    color: var(--basic-black);
    display: block;
    padding: 6px 23px;
}

/* user navigation */

.user-nav {
    margin-left: auto;
    margin-bottom: 4px;
}

.user-nav a {
    position: relative;
    display: block;
    padding: 23px 0 6px 42px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.user-nav a::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-nav a:hover,
.user-nav a:hover {
    color: var(--red-light);
}

.user-nav a:focus,
.site-nav a:focus {
    color: var(--clear-black);
}

.user-nav a:active,
.site-nav a:active {
    text-decoration: underline;
    text-decoration-color: var(--red-light);
}

/* Slider */

.slider-container {
    background-color: var(--background-gray);
    position: relative;
    height: 426px;
}

.slider-content {
    margin: 0;
    position: relative;
}

.slider-pic {
    position: absolute;
    top: -10px;
}

.slider-item {
    display: grid;
    grid-template-columns: 397px 760px;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
    display: grid;
    grid-template-columns: 397px 760px;
}


.slider-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button-slide {
    width: 160px;
    padding: 17px 54px;
    text-align: center;
    padding: 16px 40px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--red-light);
}

.slider-controls {
    position: absolute;
    top: 306px;
    left: 630px;
    color: var(--basic-white);
    display: flex;
    width: 90px;
    justify-content: space-between;
}

.slider-controls .current {
    background-color: var(--basic-white);
    position: relative;
}

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: none;
    outline: none;
}


/* Inner */

.inner {
    display: grid;
    grid-template-columns: 400px 760px;
    justify-content: space-between;
}

/* Filter */


.filter {
    grid-row: 1/3;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.range-controls {
    height: 80px;
    background-color: var(--background-gray);
    border-radius: 3px;
    margin-bottom: 15px;
    padding-top: 39px;
    height: 41px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
}

.range-controls .scale {
    height: 2px;
    background: var(--scale);
}

.range-controls .bar {
    width: 100%;
    height: 2px;
    background: var(--green-range);
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--background-range);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--shadow);
    position: absolute;
    top: 31px;
    left: 0;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--lightblack-fonts);
    border: none;
    border-radius: 3px;
    background: var(--background-gray);
    font-family: inherit;
    font-size: inherit;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
    border: none;
}

.filter fieldset:first-child {
  margin-bottom: 53px;
}

.filter legend {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 18px;
    padding-top: 16px;
}

.filter-option {
  padding-bottom: 20px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    line-height: 19px;
    color: var(--lightblack-fonts);
    padding-left: 38px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -4px;
    width: 20px;
    height: 21px;
    border: 2px solid var(--gray-filter-item);
    opacity: 0.4;
    border-radius: 20%;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 2px;
  width: 20px;
  height: 16px;
  background-image: url(../img/check.svg);
  color: var(--gray-filter-item);
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}


.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -5px;
    width: 16px;
    height: 16px;
    border: 5px solid var(--gray-filter-item);
    opacity: 0.4;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: var(--gray-filter-item);
    opacity: 0.4;
    border-radius: 50%;
}


/* filter form */

.button-form {
    background-color: var(--background-gray);
    color: var(--basic-black);
    width: 260px;
    font-weight: 500;
    margin-top: 7px;
}

.button-form:hover {
    background-color: var(--extra-light-gray);
    color: var(--basic-black);
}

.button-form:focus {
    background-color: var(--light-gray);
    color: var(--basic-black);
    opacity: 0.3;
}

/* Sorting */

.sorting-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
}

.sorting {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.sort-bar {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sorting-item a {
    font-size: 14px;
    line-height: 18px;
    margin-right: 27px;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0.3;
}

.sorting-item-sort a {
    margin-left: 18px;
}

.sorting-item a:hover {
    opacity: 0.6;
}

.sorting-item a:focus,
.sorting-item a:active {
    opacity: 1;
}

/* advantages */


.title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    background-color: var(--background-gray);
    color: var(--basic-black);
    text-align: center;
    padding-top: 71px;
    padding-bottom: 108px;
    margin-bottom: 55px;
    margin-top: 0;
}

.main-advantage-item {
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    text-align: left;
    margin-top: 72px;
    margin-bottom: 26px;
}

.advantage-item {
    margin-bottom: 39px;
}


/* skills */

.skills {
    margin-top: 80px;
}


.skills-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--background-gray);
    padding-bottom: 64px;
}

.skills-item {
    width: 360px;
}

.skills-h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-top: 19px;
    margin-bottom: 0;
}

.skills-h2 {
    margin: 15px auto 32px;
}

.skills-item .button {
    padding: 13px 40px;
}

.button-skills-web {
    background-color: var(--red-light);
}

.button-skills-app {
    background-color: var(--green-light);
}

.button-skills-app:hover {
    background-color: var(--green-normal);
}

.button-skills-app:focus {
    background-color: var(--green-dark);
    opacity: 0.1;
}

.button-skills-pres {
    background-color: var(--yellow-light);
}


.button-skills-pres:hover {
    background-color: var(--yellow-normal);
}

.button-skills-pres:focus {
    background-color: var(--yellow-dark);
    opacity: 0.1;
}


/* about us  */

.aboutus {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.aboutus-text {
    width: 800px;
}

.aboutus-header {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
    margin-bottom: 32px;
    margin-top: 72px;
}

.aboutus-body {
    margin-bottom: 10px;
}

.aboutus-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px;
    margin-top: 40px;
}

.aboutus-list {
    padding-left: 0;
    list-style: none;
}

.aboutus-item {
    margin-bottom: 25px;
    padding-left: 40px;
    position: relative;
}

.aboutus-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 24px;
    height: 2px;
    background-color: var(--red-light);
}

/*statistics*/
.statistics {
    background-image: url(../img/nerds-illustration-1.png);
    background-repeat: no-repeat;
    background-position: 0px 36px;
    padding-top: 258px;
    width: 360px;
}

.statistic-pic {
    margin-top: 39px;
}

.statistics-header {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-left: 16px;
    margin-top: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.statistics-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 345px;
}

.statistics-item-percent {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    color: var(--basic-black);
    margin-top: 46px;
    margin-bottom: 25px;
    margin: 0;
    text-align: left;
}

.statistics-item-percent > sup {
    font-size: 28px;
}

.statistics-item-text {
    line-height: 18px;
    text-align: left;
}

/* partner */
.partners-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: stretch;
    border-top: 3px solid var(--background-gray);
    border-bottom: 2px solid var(--background-gray);
    margin-bottom: 80px;
    padding: 42px 40px 40px 34px;
    box-sizing: border-box;
}


.partners-item {
    text-align: center;
    border-right: 2px solid var(--background-gray);
    align-self: baseline;
    padding-right: 44px;
    opacity: 0.2;
}

.partners-item:hover {
  opacity: 1;
}

.partners-item:active {
  opacity: 0.1;
}

.partners-list:nth-child(3) {
    align-self: center;
}

.partners-item:last-child {
    border-right: none;
}


/* Catalog */

.catalog {
    grid-column: 2/3;
    padding-top: 50px;
}

.catalog-list {
   position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}


.catalog-item {
    width: 358px;
    margin-bottom: 30px;
    min-height: 618px;
    margin-right: 42px;
    position: relative;
}


.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item-image {
    width: 358px;
    height: 578px;
    margin: 0;
    padding-top: 40px;
    object-fit: contain;
    background-color: var(--basic-white);
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 358px;
  height: 40px;
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.card-product {
  position: absolute;
  top: 389px;
  left: 0px;
  width: 358px;
  background-color: var(--background-gray);
  height: 231px;
  text-align: center;
  display: none;
  padding: 10px 20px 42px 20px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.catalog-item:hover > .card-product {
 display: flex;
}

.h1-catalog-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 15px;
  margin-bottom: 10px;
}

.p-catalog-item {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    margin-bottom: 32px;
    margin-top: 3px;
}

.button-catalog {
  width: 121px;
  padding: 16px 40px;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--red-light);
}

/* Pagination */

.pagination {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration-color: var(--basic-black);
  margin-bottom: 58px;
}

.pagination-item {
  margin-right: 14px;

}
.pagination-last-item a {
  width: 222px;
}

.pagination-item a {
    color: var(--basic-black);
    background-color: var(--background-gray);
    display: block;
    padding: 15px 19px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.pagination-item a:hover {
    background-color: var(--extra-light-gray);
}

.pagination-item a:focus {
    background-color: var(--extra-light-gray);
    opacity: 0.3;
}

.pagination-item-current a {
    background-color: var(--basic-white);
    border: 3px solid var(--extra-light-gray);
    box-sizing: border-box;
    padding: 12px 17px;
}


/* Footer */


.contacts-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    padding: 0;
    margin: 0;
}

.contacts-adress {
    margin-top: 22px;
    font-size: 16px;
    line-height: 18px;
    color: var(--footer-font);
}

.contacts-tel {
    font-size: 16px;
    line-height: 18px;
    color: var(--footer-font);
    margin-bottom: 38px;
    margin-top: 18px;
}

.contacts__list {
    background-color: var(--basic-white);
    position: absolute;
    top: 53px;
    width: 320px;
    padding: 52px 50px 44px 50px;
    box-sizing: border-box;
}

.contact-button {
  background-color: var(--red-light);
  width: 160px;
  padding: 13px 30px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.map {
    position: relative;
}

.map-pic {
    display: block;
    height: 416px;
}

.marker-map {
    position: absolute;
    top: 89px;
    left: 778px;
    z-index: 2;
}

.social {
    list-style: none;
    padding: 0;
    margin-top: 17px;
    width: 265px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.social > li {
    margin-right: 2px;
}


.social-button {
    background-color: var(--gray-social);
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--red-dark);
}

.social-button:active {
    background-color: var(--red-dark);
    opacity: 0.3;
}

.social-friends {
    width: 760px;
}

.letsfrnds {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
    margin-top: 78px;
    margin-bottom: 10px;
}

.sale {
    font-size: 16px;
    line-height: 22px;
    color: var(--footer-font2);
    margin-top: 10px;
    margin-bottom: 74px;
}

/* Modal */

 .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px var(--dark-shadow);
}

.modal-feedback {
    color: var(--basic-black);
    background-color: var(--basic-white);
    top: 100px;
    bottom: 180px;
    width: 780px;
    height: min-content;
    padding: 60px 100px;
    z-index: 4;
}

.modal-feedback fieldset {
border: none;
}

.modal-title {
font-weight: bold;
font-size: 45px;
line-height: 53px;
color: var(--basic-black);
}

.feedback {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
}


.feedback-name label,
.feedback-email label,
.feedback-text label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
 }

.name,
.email {
  width: 360px;
  margin-top: 5px;
  padding: 10px;
}

.comment {
  width: 760px;
  margin-top: 5px;
  padding: 10px;
}

.feedback-text {
  grid-column: 1/3;
}

.modal-close {
  position: absolute;
  top: 71px;
  right: 95px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background-color: var(--basic-white);
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--red-close);
  opacity: 0.3;
}

.modal-close:hover {
 opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}


.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-button {
  margin-top: 20px;
  background-color: var(--red-light);
  text-align: center;
  padding: 12px 65px;
}
